// Colors
$black: #000;
$white: #fff;
$gray: #31363b;
$light: #aaa;

.axis {
  .domain,
  .tick line {
    display: none;
  }
}

.tufte-plot,
,tufte-tooltip {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.tufte-tooltip {
  background: $gray;
  border-color: $gray;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 8px 8px 20px 0 $light;
  color: $white;
  font-family: 'Source Sans Pro';
  font-size: 13px;
  padding: 5px 8px;
  position: fixed;
}
